<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/Base.css">
    <link rel="stylesheet" href="static/font/stylesheet.css">
</head>
<body>
    <div class="content">
        <h2>Ваши друзья</h2>
        
        <div class="cloud">
            <div class="friend">
                <div class="user-image"></div>
                <span class="user-nickname" id="user-nickname">mefer</span>
            </div>
            <div class="friend">
                <div class="user-image"></div>
                <span class="user-nickname">anfisa2003</span>
            </div>
            <div class="friend">
                <div class="user-image"></div>
                <span class="user-nickname">ax1lec</span>
            </div>
        </div>
        <div class="buttons">
            <button class="left-button inline" id="copy">Скопировать ссылку</button>
            <button class="right-button inline">Пригласить</button>
        </div>
    </div>

    <script src="static/scripts/Telegram.js"></script>

</body>
</html>