<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="static/scripts/Telegram.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/Base.css">
    <link rel="stylesheet" href="static/font/stylesheet.css">
</head>
<body>
    <div class="content">
        <h2>Your <a class="blue">friends</a> here:</h2>
        
        <div class="cloud" id="friends-list-cloud">
            <h4 id="herewillbe">...here will be your friends</h4>
        </div>
        <div class="buttons">
            <button class="left-button inline" id="copy" onclick="copyLink()">Copy link</button>
            <button class="right-button inline" id="invite" onclick="getInvite()">Share</button>
        </div>
    </div>
    <script src="static/scripts/Telegram.js"></script>
    <script src="static/scripts/Friends.js"></script>
</body>
</html>